{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href={% static "base.css" %}>
        {% block css_files %}
        {% endblock css_files %}
    </head>
    <body>
        <header id="main-navigation">
            <nav class="navbar">
                <svg xmlns="http://www.w3.org/2000/svg" class="menu-icon">
                    <path d="M21 6H3V5h18v1zm0 5H3v1h18v-1zm0 6H3v1h18v-1z"></path>
                </svg>
                <div class="nav-container">
                    <a href="{% url "main-page" %}" class="brand">ORM Playground</a>
                    <div class="nav-links">
                        <a href="#">Home</a>
                        <a href="#">Services</a>
                        <a href="#">About</a>
                    </div>
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Footer
        </footer>
    </body>
</html>
